@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0 ;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
  body {
    font-family: 'Roboto', sans-serif;
   
  }
  .heart {
    position: fixed;
    top: -1vh;
    z-index: 10;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(90vh);
    }
}

.overlay{
  content: '';
  position: absolute;
  height: 100vh;
  width: 100%;
  background:rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
 z-index: 3;
}

.food{
    height: 100vh;
    width: 100%;
    background-image: url("img/food.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding: 185px;
    position: relative;
  
}
h1{
  display: block;
 position: absolute;
 z-index: 6;
 text-align: center;
 left: 50%;
 top: 50%;
 font-size: 72px;
 width: 100%;
 margin-top: -90px;
 transform: translate(-50%,-50%);
}